﻿
@{
    ViewBag.Title = "Queue";
}

<h2>Queue</h2>
<div class="container row">
    <div class="col s6">
        <p class="range-field">
            <input type="range" id="queue" min="2" max="5" />
        </p>
    </div>
</div>


<script>
    $('#queue').on('change', function () {
        console.log(this.value);
        $.getJSON('/Queue/Calculate', { number : this.value }, function (data) {
            console.log(data);

            $.each(data, function () {

            });
        });
    });
</script>